<ol>
	<%= content_tag( 'li', link_to( 'Previous month', calendar_month_url( :year => @previous_date.year, :month => @previous_date.month ) ) ) %>
	<%= content_tag( 'li', link_to( 'Next month', calendar_month_url( :year => @next_date.year, :month => @next_date.month ) ) ) %>
</ol>
<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'Date' ) %>
			<%= content_tag( 'td', 'Day' ) %>
			<%= content_tag( 'td', 'House of Commons day type' ) %>
			<%= content_tag( 'td', 'House of Commons praying' ) %>
			<%= content_tag( 'td', 'House of Lords day type' ) %>
			<%= content_tag( 'td', 'House of Lords praying' ) %>
		</tr>
	</thead>
	<%= render :partial => 'date', :collection => @date_range %>
</table>