<%= content_tag( 'p', @parliament.dates ) %>

<%= content_tag( 'h2', 'Sessions and prorogations' ) %>
<table>
	<tbody>
		<%= render :partial => 'in_parliament_period', :collection => @in_parliament_periods %>
	</tbody>
</table>



<%= content_tag( 'h2', 'Sessions' ) %>
<ol id="sessions">
	<%= render :partial => 'session/session', :collection => @parliament.sessions %>
</ol>

<%= content_tag( 'h2', 'Prorogations' ) %>
<ol id="prorogations">
	<%= render :partial => 'prorogation_period/prorogation_period', :collection => @parliament.prorogation_periods %>
</ol>