<li>
	<h2>
		<%= day.start_date.strftime( '%A, ' ) %><%= day.start_date.strftime('%e').strip.to_i.ordinalize  %><%= day.start_date.strftime( ' %B %Y' ) %>
		
		<% if day.start_date != day.end_date %>
			- 
			<%= day.end_date.strftime( '%A, ' ) %><%= day.end_date.strftime('%e').strip.to_i.ordinalize  %><%= day.end_date.strftime( ' %B %Y' ) %>
		<% end%>
	</h2>
	<%= content_tag( 'p', day.day_type ) %>
</li>