<nav id="header-nav">
	<%= link_to( 'Calculators', calculator_form_url, :class => 'calculators' )  %>
	<%= link_to( 'Parliamentary time', parliamentary_time_list_url, :class => 'parliamentary-time' )  %>
	<%= link_to( 'Houses', house_list_url, :class => 'houses' )  %>
	<%= link_to( 'Calendar', calendar_list_url, :class => 'calendar' )  %>
	<%= link_to( 'Calendar subscriptions', meta_subscribe_url, :class => 'subscribe' )  %>
</nav>