<% if @error_message -%>
	<%= content_tag( 'p', @error_message ) %>
<% else -%>


<p>The <u>anticipated</u> end date of the scrutiny period is:</p>

	<strong><big><time><%= @end_date.strftime( '%A %-d %B %Y') %></time></big></strong>
	
	
	

<ul>

	<li>With procedure type <strong><%= @procedure.name %></strong></li>
	
	<li>For a scrutiny period of <strong><%= @day_count %> days</strong></li>
	
	<li>Starting from <strong><%= @start_date.strftime( '%-d %B %Y') %></strong></li>
	
	
	
	</ul>


	
<p>If sitting days change within that period, the end date of the scrutiny period will need to be <a href="/">recalculated</a>.</p>


	
	
<% end -%>