<% if @error_message -%>
	<%= content_tag( 'p', @error_message ) %>
<% else -%>

<p class="box">The <em>anticipated start date</em> of the scrutiny period is
<br>
	<strong><big><time><%= @scrutiny_start_date.strftime( '%A %-d %B %Y') %></time></big></strong>
	</p>
	
	
<p class="box">The <em>anticipated end date</em> of the scrutiny period is
<br>

	<strong><big><time><%= @scrutiny_end_date.strftime( '%A %-d %B %Y') %></time></big></strong>
</p>

<p>This was calculated using this information:</p>
	
<ul>

	<% if @procedure -%>
		<li>A procedure type <strong><%= @procedure.name %></strong></li>
	<% end -%>
	
	<li>A scrutiny period of <strong><%= @day_count %> days</strong></li>
	
	<li>Starting from <strong><%= @start_date.strftime( '%-d %B %Y') %></strong> <% if @start_date_type -%>(<%= @start_date_type %>)<% end -%></li>
	

	</ul>


<p>If sitting days change within this period, the end date of the scrutiny period will need to be recalculated.</p>




<p><a href="/egg-timer<%= request.original_fullpath.sub '?', '.ics?' %>">Add to calendar</a></p>

<p>Show the <a href="/egg-timer<%= request.original_fullpath.sub '?', '.json?' %>" title="/egg-timer<%= request.original_fullpath.sub '?', '.json?' %>">JSON result</a> for this calculation.</p>
	
	
<% end -%>