<%= render :partial => 'nav' %>
<%= content_tag( 'p', link_to( 'Using the calculator', meta_using_url ) ) %>

<form action="" method="GET" id="calculator">
	
	<!-- Include start date, procedure ID and calculation style parameters - passed from main form - as hidden fields -->
	<input type="hidden" value="<%= @start_date %>" name="start-date" id="start-date" />
	<% if @procedure -%>
		<input type="hidden" id="procedure-<%= @procedure.id %>" name="procedure" value="<%= @procedure.id %>">
	<% elsif @calculation_style -%>
		<input type="hidden" id="calculation-style-<%= @calculation_style %>" name="calculation-style" value="<%= @calculation_style %>">
		<!-- Include direction parameter - optionally passed from main form - as a hidden field -->
	<% end -%>

	<!-- Include direction parameter - optionally passed from main form - as a hidden field -->
	<input type="hidden" name="direction" value="<%= @direction %>" />
	
	<p>
		<label>
			Number of days to count
			<br>
			
			<% if @procedure and @procedure.typical_day_count -%>
				<input type="number" name="day-count" id="day-count" value="<%= @procedure.typical_day_count %>" required>
			<% else -%>
				<input type="number" name="day-count" id="day-count" required>
			<% end -%>	
		</label>
	</p>
	<% if @procedure -%>
	
		<% if @procedure.typical_day_count && @procedure.has_day_count_caveats == true  -%>
			<% if @direction == 'reverse' %>
				<%= content_tag( 'p', "The pre-populated value is a typical value for this type of instrument. It may not be the correct value. Please refer to #{link_to( 'our guidance on using the calculator', meta_using_reverse_url )}.".html_safe ) %>
			<% else -%>
				<%= content_tag( 'p', "The pre-populated value is a typical value for this type of instrument. It may not be the correct value. Please refer to #{link_to( 'our guidance on using the calculator', meta_using_url )}.".html_safe ) %>
			<% end -%>
		<% elsif @procedure.has_day_count_caveats == true -%>
			<% if @direction == 'reverse' %>
				<%= content_tag( 'p', "Please refer to #{link_to( 'our guidance on using the calculator', meta_using_reverse_url )}.".html_safe ) %>
			<% else -%>
				<%= content_tag( 'p', "Please refer to #{link_to( 'our guidance on using the calculator', meta_using_url )}.".html_safe ) %>
			<% end -%>
		<% end -%>
	<% end -%>
	
	<button type="submit" id="calculate">Calculate</button>
</form>