<%= content_tag( 'p', 'Subscribe to calendar:' ) %>
<input type="text" value="<%= house_days_recess_dates_upcoming_url( :format => 'ics' ) %>" />

<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'Description' ) %>
			<%= content_tag( 'td', 'Start date' ) %>
			<%= content_tag( 'td', 'End date' ) %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'recess_date', :collection => @house.upcoming_recess_dates %>
	</tbody>
</table>