<!DOCTYPE html>
<html lang="en-gb">
<head>
  <title>Parliament Calendar</title>
      <meta name="viewport" content="width=device-width">      
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
            <style>
            body.development {border-bottom:4em solid pink;}
            </style>
</head>
<body class="<%= Rails.env %>">
<header>
<nav>
<p>
Parliament calendar &mdash; <a href="/">Calculate scrutiny period</a>
&mdash;
<%= link_to( 'Procedures', procedure_list_url )  %>
</p>

</nav>

<h1 style="font-weight:normal;"><%= @title || "Parliament Calendar" %></h1>
</header>
<main style="padding:2rem 0;">
<%= yield %>
</main>

<footer>
<nav>
<p>
<%= link_to( 'Parliaments', parliament_list_url )  %>
&mdash;
<%= link_to( 'Dissolutions', dissolution_period_list_url )  %>
&mdash;
<%= link_to( 'About this application', meta_list_url )  %>
</p>

</nav>
</footer>


</body>
</html>
