<!DOCTYPE html>
<html lang="en-gb">
<head>
  <title>Parliament Calendar</title>
      <meta name="viewport" content="width=device-width">      
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
<style>
main {
padding:2rem 0;
}
h1 {font-weight:normal;}
</style>

</head>
<body>
<header>
<nav>
<p>
Parliament calendar &mdash; <a href="/">Calculate scrutiny period</a>
</p>

</nav>

<h1><%= @title || "Parliament Calendar" %></h1>
</header>
<main>
<%= yield %>
</main>

<footer>
<nav>
<p>
<%= link_to( 'Parliaments', parliament_list_url )  %>
&mdash;
<%= link_to( 'Dissolutions', dissolution_period_list_url )  %>
&mdash;
<%= link_to( 'About this application', meta_list_url )  %>
</p>

</nav>
</footer>


</body>
</html>
