<!DOCTYPE html>
<html lang="en-gb">
<head>
  <title>Parliament Calendar</title>
      <meta name="viewport" content="width=device-width">   
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#999999">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">   
            <style>
            *, *:before, *:after {box-sizing: border-box;}
            body {font-family: "Helvetica Neue","Helvetica",sans-serif;max-width:44rem;padding:1rem;font-size:1.1rem;line-height: 1.4;margin:auto;}
            main {margin:4rem 0;}
            h1 {font-size:1.3rem;}
            a {text-decoration: none;}
            a:hover {text-decoration: underline;}
            label.radio {padding:0.25rem 0.5rem;border-radius:0.25rem;}
            label.radio:hover {background-color: pink;}
            input[type=date] {padding: 0.5rem;border-radius:0.25rem;font-size:larger;}
            input[type=number] {padding: 0.5rem;border-radius:0.25rem;font-size:larger;}
            input:focus {border-color: blue;}
            button {width:40%;padding: 0.5rem;border-radius:0.25rem;font-size:larger;color:black;background-color: white;border:2pt solid black;}
            button:hover {border:2pt solid blue;}
            p.box {padding: 0.75rem;border-radius:0.25rem;font-size:larger;color:black;background-color: white;border:2pt solid gray;}
            td, th {
  padding: 0.5rem;
    text-align: left;
  height: 4rem;
  vertical-align: bottom;
}
tr {border-bottom: thin dotted black;}
th {
  color: gray;
  border-color: white;
}
table {
font-size: 1rem;
  border-collapse: collapse;
  width:100%;
}
td.commons {font-weight:bold;background-color:lightgreen;}
td.lords {font-weight:bold;background-color:pink;}
            </style>
</head>
<body>
<header>
<nav>
<p>
<a href="/">Calculate scrutiny period</a>
</p>
</nav>

<h1><%= @title || "Parliament Calendar" %></h1>
</header>
<main>
<%= yield %>
</main>

<footer>
<nav>
<p>
<%= link_to( 'Parliaments', parliament_list_url )  %>
&middot;
<%= link_to( 'Dissolutions', dissolution_period_list_url )  %>
&middot;
<%= link_to( 'Sessions', session_list_url )  %>
&middot;
<%= link_to( 'Calendar', calendar_list_url )  %>
&middot;
<%= link_to( 'About this application', meta_list_url )  %>
&middot;
<%= link_to( 'Contact us', "mailto:RIIDMSMailbox@parliament.uk" )  %>
</p>

</nav>
<p>Made available under an <%= link_to( 'Open Parliament Licence', 'https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/' ). %>
</footer>


</body>
</html>
